<div class="container-fluid p-5 ">
  <div class="col-8 offset-2">
    <div class="row">

      <!-- Input user role -->
      <div class="form-group col-12 col-md-6">
        <select class="form-control" [(ngModel)]="userRole" name="role">
          <option value="guest">Guest</option>
          <option value="moderator">Moderator</option>
          <option value="admin">Adminstrator</option>
        </select>
      </div>
      <div class="form-group col-12 col-md-6">
        <button (click)="changeRole(userRole)" class="btn btn-primary btn-block">Change Role</button>
      </div>
    </div>
    <div class="col-12 ">
      <ng-container *ngIf="checkUserRole$ | async as role">
        <div [ngSwitch]="role">
          <div *ngSwitchCase="'moderator'">Moderator Template</div>
          <div *ngSwitchCase="'admin'">Admin Template</div>
          <div *ngSwitchDefault>Guest Template (Default)</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
